@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html,
body {
    width: 100dvw;
    overflow-x: hidden;
    background-color: #0e0c15;
    color: white;
    scroll-behavior: smooth;
    font-family: "Mona Sans", sans-serif;
}

#hero,
#benefit,
#guide,
#highlight {
    scroll-margin-top: 100px;
}

/* ================= Scrollbar Custom ================= */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #666 transparent;
}

@theme {
    --font-sans: "Mona Sans", sans-serif;
    --color-white-50: #d9ecff;
    --color-black-50: #1c1c21;
    --color-black-100: #0e0e10;
    --color-black-200: #282732;
    --color-blue-50: #839cb5;
    --color-blue-100: #2d2d38;
    --color-dark-200: #475467;
    --color-light-blue-100: #c1d3f81a;
    --color-light-blue-200: #a7bff14d;

    --color-badge-green: #d5faf1;
    --color-badge-red: #f9e3e2;
    --color-badge-yellow: #fceed8;

    --color-badge-green-text: #254d4a;
    --color-badge-red-text: #752522;
    --color-badge-yellow-text: #73321b;
}

@layer utilities {
    .flex-center {
        @apply flex justify-center items-center;
    }
    .flex-col-center {
        @apply flex flex-col justify-center items-center;
    }

    .animate-pulseWave {
        animation: pulseWave 1.5s ease-out infinite;
    }

    @keyframes pulseWave {
        0% {
            transform: scale(1);
            opacity: 0.8;
        }
        70% {
            transform: scale(1.8);
            opacity: 0;
        }
        100% {
            transform: scale(2);
            opacity: 0;
        }
    }
}

@layer components {
    .hero-text {
        @apply flex flex-col justify-center md:text-[60px] text-[30px] font-semibold relative z-10 pointer-events-none;
        img {
            @apply size-8 md:size-10 object-contain;
        }
        .slide {
            @apply pt-0 px-2 md:px-5 py-[30px] h-[48px] md:h-[78px] md:translate-y-1 translate-y-0 overflow-hidden;
        }
    }

    .marquee-item {
        @apply md:w-40 w-32;
    }

    .gradient-edge {
        @apply w-36 h-full absolute bottom-0 z-20;
    }

    .text-gradient {
        @apply bg-clip-text text-transparent bg-gradient-to-r from-[#AB8C95] via-[#000000] to-[#8E97C5];
    }
    .gradient-border {
        @apply bg-gradient-to-b from-light-blue-100 to-light-blue-200 p-4 rounded-2xl;
    }
    .primary-button {
        @apply primary-gradient text-white rounded-full px-4 py-2 cursor-pointer w-full;
    }
    .resume-nav {
        @apply flex flex-row justify-between items-center p-4 border-b border-gray-200;
    }
    .resume-summary {
        @apply flex flex-row items-center justify-center p-4 gap-4;
        .category {
            @apply flex flex-row gap-2 items-center bg-gray-50 rounded-2xl p-4 w-full justify-between;
        }
    }
    .back-button {
        @apply flex flex-row items-center gap-2 border border-gray-200 rounded-lg p-2 shadow-sm;
    }
    .auth-button {
        @apply primary-gradient rounded-full py-4 px-8 cursor-pointer w-[600px] max-md:w-full text-3xl font-semibold text-white;
    }
    .main-section {
        @apply flex flex-col items-center gap-8 pt-12 max-sm:mx-2 mx-15 pb-5;
    }
    .page-heading {
        @apply flex flex-col items-center gap-8 max-w-4xl text-center max-sm:gap-4;
    }
    .resumes-section {
        @apply flex flex-wrap max-md:flex-col max-md:gap-4 gap-6 items-start max-md:items-center w-full max-w-[1850px] justify-evenly;
    }

    .resume-card {
        @apply flex flex-col gap-8 h-[560px] w-[350px] lg:w-[430px] xl:w-[490px] bg-white rounded-2xl p-4;
    }

    .resume-card-header {
        @apply flex flex-row gap-2 justify-between min-h-[110px] max-sm:flex-col items-center max-md:justify-center max-md:items-center;
    }

    .feedback-section {
        @apply flex flex-col gap-8 w-1/2 px-8 max-lg:w-full py-6;
    }

    .navbar {
        @apply flex flex-row justify-between items-center bg-white rounded-full p-4 w-full px-10 max-w-[1200px] mx-auto;
    }

    .score-badge {
        @apply flex flex-row items-center justify-center py-1 px-2 gap-4 rounded-[96px];
    }

    .form-div {
        @apply flex flex-col gap-2 w-full items-start;
    }

    .uplader-drag-area {
        @apply relative p-8 text-center transition-all duration-700 cursor-pointer bg-white rounded-2xl min-h-[208px];
    }
    .uploader-selected-file {
        @apply flex items-center justify-between p-3 bg-gray-50 rounded-2xl;
    }
}

/* Hero text slider starts */
.slide {
    display: inline-block;
    flex-direction: column;
    transition: all cubic-bezier(0.71, 0.03, 0.34, 1);
}

.wrapper {
    display: flex;
    flex-direction: column;
    animation: wordSlider 21s infinite cubic-bezier(0.9, 0.01, 0.3, 0.99);
}

@keyframes wordSlider {
    0% {
        transform: translateY(0.5%);
    }
    12.5% {
        transform: translateY(-12.5%);
    }
    25% {
        transform: translateY(-25%);
    }
    37.5% {
        transform: translateY(-37.5%);
    }
    50% {
        transform: translateY(-50%);
    }
    62.5% {
        transform: translateY(-62.5%);
    }
    75% {
        transform: translateY(-75%);
    }
    87.5% {
        transform: translateY(-87.5%);
    }
}

@keyframes gradient-move {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.animate-gradient {
    animation: gradient-move 8s ease infinite;
    background-size: 300% 100%;
}

.border-n-1\/10 {
    border-color: rgb(255 255 255 / 0.1);
}

.bg-n-9\/40 {
    background-color: rgb(71 64 96 / 0.4);
}

.border-n-2\/10 {
    border-color: rgb(202 198 221 / 0.1);
}

.border-n-2\/5 {
    border-color: rgb(202 198 221 / 0.05);
}

.marquee {
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.marquee-box {
    display: flex;
    align-items: center;
    width: 200%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    animation: marquee 60s linear infinite;
}

.marquee-item {
    float: left;
}
@keyframes marquee {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}

@utility bg-gradient {
    background: linear-gradient(to bottom, #f0f4ff 60%, #fa7185cc);
}

@utility text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-[#AB8C95] via-[#000000] to-[#8E97C5];
}

@utility gradient-hover {
    @apply bg-gradient-to-b from-light-blue-100 to-light-blue-200;
}

@utility primary-gradient {
    background: linear-gradient(to bottom, #8e98ff, #606beb);
    box-shadow: 0px 74px 21px 0px #6678ef00;
}

@utility primary-gradient-hover {
    background: linear-gradient(to bottom, #717dff, #4957eb);
}

@utility inset-shadow {
    box-shadow: inset 0 0 12px 0 rgba(36, 99, 235, 0.2);
    backdrop-filter: blur(10px);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
