@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

html,
body {
    width: 100dvw;
    overflow-x: hidden;
    background-color: #0e0c15;
    color: white;
    scroll-behavior: smooth;
    font-family: "Mona Sans", sans-serif;
}

#hero,
#benefit,
#guide,
#highlight {
    scroll-margin-top: 100px;
}

/* ================= Scrollbar Custom ================= */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #666 transparent;
}

@theme {
    --font-sans: "Mona Sans", sans-serif;
    --color-white-50: #d9ecff;
    --color-black-50: #1c1c21;
    --color-black-100: #0e0e10;
    --color-black-200: #282732;
    --color-blue-50: #839cb5;
    --color-blue-100: #2d2d38;
}

@layer utilities {
    .flex-center {
        @apply flex justify-center items-center;
    }
    .flex-col-center {
        @apply flex flex-col justify-center items-center;
    }

    .animate-pulseWave {
        animation: pulseWave 1.5s ease-out infinite;
    }

    @keyframes pulseWave {
        0% {
            transform: scale(1);
            opacity: 0.8;
        }
        70% {
            transform: scale(1.8);
            opacity: 0;
        }
        100% {
            transform: scale(2);
            opacity: 0;
        }
    }
}

@layer components {
    .hero-text {
        @apply flex flex-col justify-center md:text-[60px] text-[30px] font-semibold relative z-10 pointer-events-none;
        img {
            @apply size-8 md:size-10 object-contain;
        }
        .slide {
            @apply pt-0 px-2 md:px-5 py-[30px] h-[48px] md:h-[78px] md:translate-y-1 translate-y-0 overflow-hidden;
        }
    }

    .marquee-item {
        @apply md:w-40 w-32;
    }

    .gradient-edge {
        @apply w-36 h-full absolute bottom-0 z-20;
    }
}

/* Hero text slider starts */
.slide {
    display: inline-block;
    flex-direction: column;
    transition: all cubic-bezier(0.71, 0.03, 0.34, 1);
}

.wrapper {
    display: flex;
    flex-direction: column;
    animation: wordSlider 21s infinite cubic-bezier(0.9, 0.01, 0.3, 0.99);
}

@keyframes wordSlider {
    0% {
        transform: translateY(0.5%);
    }
    12.5% {
        transform: translateY(-12.5%);
    }
    25% {
        transform: translateY(-25%);
    }
    37.5% {
        transform: translateY(-37.5%);
    }
    50% {
        transform: translateY(-50%);
    }
    62.5% {
        transform: translateY(-62.5%);
    }
    75% {
        transform: translateY(-75%);
    }
    87.5% {
        transform: translateY(-87.5%);
    }
}

@keyframes gradient-move {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.animate-gradient {
    animation: gradient-move 8s ease infinite;
    background-size: 300% 100%;
}

.border-n-1\/10 {
    border-color: rgb(255 255 255 / 0.1);
}

.bg-n-9\/40 {
    background-color: rgb(71 64 96 / 0.4);
}

.border-n-2\/10 {
    border-color: rgb(202 198 221 / 0.1);
}

.border-n-2\/5 {
    border-color: rgb(202 198 221 / 0.05);
}

.marquee {
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.marquee-box {
    display: flex;
    align-items: center;
    width: 200%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    animation: marquee 60s linear infinite;
}

.marquee-item {
    float: left;
}
@keyframes marquee {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}
